<nav class="navbar navbar-light">
    <div class="handshake-logo-container">
        <img src="/public/figma design exports/logos/Arzani-logo.png" alt="Arzani.co.uk" class="logo-img">
    </div>
    <div class="navbar-container">
        <div class="navbar-icons">
            <a href="/marketplace2" class="navbar-link" id="marketplace-link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256" class="icon" aria-hidden="true">
                    <path d="M216,36H40A20,20,0,0,0,20,56V200a20,20,0,0,0,20,20H216a20,20,0,0,0,20-20V56A20,20,0,0,0,216,36Zm-4,24V76H44V60ZM44,196V100H212v96Zm136-72a52,52,0,0,1-104,0,12,12,0,0,1,24,0,28,28,0,0,0,56,0,12,12,0,0,1,24,0Z"></path>
                </svg>
                <span>Marketplace</span>
            </a>
            <a href="/history" class="navbar-link" id="history-link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256" class="icon" aria-hidden="true">
                    <path d="M140,80v41.21l34.17,20.5a12,12,0,1,1-12.34,20.58l-40-24A12,12,0,0,1,116,128V80a12,12,0,0,1,24,0ZM128,28A99.38,99.38,0,0,0,57.24,57.34c-4.69,4.74-9,9.37-13.24,14V64a12,12,0,0,0-24,0v40a12,12,0,0,0,12,12H72a12,12,0,0,0,0-24H57.77C63,86,68.37,80.22,74.26,74.26a76,76,0,1,1,1.58,109,12,12,0,0,0-16.48,17.46A100,100,0,1,0,128,28Z"></path>
                </svg>
                <span>History</span>
            </a>
            <a href="/talk-to-Arzani" class="navbar-link" id="arzani-link">
                <img src="/images/arzani-icon.svg" alt="Arzani" class="icon arzani-icon" style="width: 48px; height: 48px;" />
                <span>Arzani</span>
            </a>
            <a href="/saved-searches" class="navbar-link" id="saved-searches-link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256" class="icon" aria-hidden="true">
                    <path d="M184,28H72A20,20,0,0,0,52,48V224a12,12,0,0,0,18.36,10.18l57.63-36,57.65,36A12,12,0,0,0,204,224V48A20,20,0,0,0,184,28Zm-4,174.35-45.65-28.53a12,12,0,0,0-12.72,0L76,202.35V52H180Z"></path>
                </svg>
                <span>Saved Searches</span>
            </a>
            <a href="/off-market-leads" class="navbar-link" id="leads-link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256" class="icon" aria-hidden="true">
                    <path d="M148,108a12,12,0,0,1,12-12h28a12,12,0,0,1,0,24H160A12,12,0,0,1,148,108Zm40,28H168a12,12,0,0,0,0,24h20a12,12,0,0,0,0-24Zm48-80V200a20,20,0,0,1-20,20H40a20,20,0,0,1-20-20V56A20,20,0,0,1,40,36H216A20,20,0,0,1,236,56Zm-24,4H44V196H212ZM58.28,159.37A43.82,43.82,0,0,1,71.53,142a36,36,0,1,1,56.94,0,43.84,43.84,0,0,1,13.26,17.37,12,12,0,0,1-22.15,9.26C116.48,161.19,108.42,156,100,156s-16.47,5.2-19.59,12.63a12,12,0,1,1-22.13-9.26ZM88,120a12,12,0,1,0,12-12A12,12,0,0,0,88,120Z"></path>
                </svg>
                <span>Off Market Leads</span>
            </a>
        </div>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/post-business">Post a Business</a></li>
            </ul>
        </div>
        <a href="/profile" class="btn profile-btn" id="profileBtn">Profile</a>
    </div>
</nav>
