# EC2 Instance Configuration
Host ec2
    HostName ec2-user@13.60.228.28
    User ec2-user
    IdentityFile ~/.ssh/myec2key.pem
    Port 22
    ServerAliveInterval 60
    
# You can add additional EC2 instances like this
# Host ec2-staging
#     HostName ec2-yy-yy-yy-yy.compute-1.amazonaws.com
#     User ec2-user
#     IdentityFile ~/.ssh/your-staging-key.pem 