<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="azure-startup.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="nodejs">
          <match url="/*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="azure-startup.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
    <iisnode
      nodeProcessCommandLine="node --max-old-space-size=4096 --experimental-specifier-resolution=node"
      watchedFiles="*.js;*.env;views/*.ejs;routes/*.js;middleware/*.js"
      loggingEnabled="true" 
      debuggingEnabled="true"
      logDirectory="iisnode"
      devErrorsEnabled="true"
      maxLogFileSizeInKB="4096"
      maxTotalLogFileSizeInKB="20480"
      maxLogFiles="50"
    />
  </system.webServer>
</configuration>
